@model lab_pc1_campos.Models.Formulario

@{
    ViewData["Title"] = "Hecho por JORGE RAÍ CAMPOS PASTOR";
}

<div class="row">
    <div class="col-md-4">  
        <h1 class="display-4">Solicitud de Bono</h1>
        <hr color="black" size=3>
        <form asp-controller="Formulario" asp-action="Enviar">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Nombre" class="control-label">Nombre:</label>
                <input asp-for="Nombre" class="form-control" />
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>    

            <div class="form-group">
                <label asp-for="Apellido" class="control-label">Apellidos:</label>
                <input asp-for="Apellido" class="form-control" />
                <span asp-validation-for="Apellido" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Distrito" class="control-label">Distrito:</label>
                <input asp-for="Distrito" class="form-control" />
                <span asp-validation-for="Distrito" class="text-danger"></span>
            </div>                 
                   
            <div class="form-group">
                Bancos:
                <select asp-for="Bancos" class="form-control">
                    <option value="BANBIF">BANBIF</option>
                    <option value="INTERBANK">INTERBANK</option>
                    <option value="BCP">BCP</option>
                </select>
            </div>

            <div class="form-group">
                <label asp-for="Edad" class="control-label">Edad:</label>
                <input asp-for="Edad" class="form-control" />
            </div>  

            <div class="form-group">
                Sexo:
                <label><input asp-for="Sexo" type="radio" name="sexo" value="F"> Femenino</label>
                <label><input asp-for="Sexo" type="radio" name="sexo" value="M"> Masculino</label>
            </div>                             

            <div class="form-group">
                 <button type="submit" class="btn btn-primary" value="Enviar">Enviar</button> 
            </div>                

        </form>
            
        <td>@Html.DisplayTextFor(model => model.Respuesta)</td>    
    
    </div>
</div>